<% provide(:title, 'All Words') %>
<h1>Word List</h1>
  <div id="search">
    <%= render :partial => 'words/search' %>
  </div>
    <% @words.each do |word| %>
      <%= render word %>
    <% end %>
  <% if @words.count > 0 %>
    <p id="pdf_link"><%= link_to "Download CSV",  words_path(format: 'csv')%></p>
  <% end %>






